body {
  --headerHeight: 45px;
  overflow: hidden;
}

#header {
  overflow: hidden;
  background-color: #E3E5E8;
  height: var(--headerHeight);
  border-bottom: solid 1px black;
  pointer-events: none;
  user-select: none;
}

#header>* {
  font-size: 28px;
  margin: 6px 0px 4px 8px;
}

main {
  height: calc(100% - var(--headerHeight));
  --tabMenuWidth: 200px;
}

#tabMenuContainer {
  user-select: none;
  float: left;
  background-color: rgb(245, 245, 245);
  background-color: #EBEDEF;
  height: 100%;
  width: var(--tabMenuWidth);
  padding: 10px;
  border-right: 1px solid black;
}

#tabMenuTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tabMenuTop>* {
  background-color: white;
  margin-bottom: 6px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 8px;
  transition: all 0.1s;
}

#tabMenuTop>*:hover {
  padding: 5px;
  border: 2px solid black;
}

#tabMenuTop>*:active {
  transform: translateX(6px);
  border-radius: 8px 4px 4px 8px;
}

#tabMenuTop>*:has(input:checked) {
  transform: translateX(11px);
  border-radius: 8px 0px 0px 8px;
}

#tabMenuTop input {
  display: none;
}

#tabs {
  position: relative;
  float: left;
  width: calc(100% - var(--tabMenuWidth));
  height: 100%;
}

#tabs>* {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s;
}

.stateSelect {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 16px;
}

#devicesTab>* {
  height: 100%;
  float: left;
  --deviceListWidth: 300px;
}

#deviceInfoContainer {
  width: calc(100% - var(--deviceListWidth));
  padding: 50px 0px 50px 50px;
}

#deviceInfo {
  display: flex;
  height: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

#deviceInfo>header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

#deviceInfo>header>img {
  fill: #444444;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

#deviceInfo>header>div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#deviceInfo>header>div>h1 {
  margin: 0;
}

#deviceInfo>header>div>p {
  margin: 0;
}

#noDeviceSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#noDeviceSelected>svg {
  width: 200px;
  height: 200px;
  margin-top: -60px;
  fill: #AAAAAA;
}

#noDeviceSelected>h1 {
  user-select: none;
  color: #AAAAAA;
}

#deviceListContainer {
  user-select: none;
  display: flex;
  flex-direction: column;
  width: var(--deviceListWidth);
  padding: 50px;
}

#deviceList::-webkit-scrollbar {
  width: 0px;
}

#deviceListContainer>#devicesLabel {
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}

#deviceListContainer>#deviceList {
  overflow: hidden scroll;
  background-color: #F3F5F8;
  height: 100%;
  padding: 0px 8px 8px 8px;
  border: 1px solid black;
  border-radius: 10px;
}

#deviceListContainer>#deviceList>* {
  height: 50px;
  margin-top: 12px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
}

#deviceListContainer>#deviceList>#addDevice>input[type="text"] {
  transform: translateY(1px);
  width: 100%;
  height: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px 8px 0px 0px;
}

#deviceListContainer>#deviceList>#addDevice>input[type="submit"] {
  background-color: white;
  width: 100%;
  height: 19px;
  text-align: center;
  border: 1px solid black;
  border-radius: 0px 0px 8px 8px;
  transition: background-color 0.1s;
}

#deviceListContainer>#deviceList>#addDevice>input[type="submit"]:hover {
  background-color: #EBEDEF;
}